*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

main{
    width: 80%;
    margin: 0 auto;
    margin-top: 4rem;
    
}

.receta {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

li{
    margin-top: 2rem;
    margin-bottom: 2rem;
}


nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lightblue;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

 
}
body{
    margin-top: 4rem;

    background-color: lightyellow;
}

a{
    text-decoration: none;
}

a:visited{
    color: blue;
}

a:hover{
    color: orange;
}

.receta{
    border: solid black 2px;
    border-radius: 7px;
    padding: 10px;
    background-color: lightblue;
}

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}