*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

main{
    width: 80%;
    margin: 0 auto;
    
}

.receta {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

li{
    margin-top: 2rem;
    margin-bottom: 2rem;
}