* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
    background-color: #f0f0f0;
    overflow-x: hidden;
    overflow-y: hidden;
}

main {
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    background-color: white;
    padding: 1.5rem;
}


header {
    text-align: center;
    background-color: #cccccc;
    padding: 1rem;
}


section {
    margin-top: 1.5rem;
}


.datos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.info {
    width: 60%;
}


.foto {
    width: 35%;
    text-align: center;
}

.foto img {
    width: 70%;
}

/* listas */
ul {
    padding-left: 1.2rem;
}

li {
    margin-bottom: 0.5rem;
}


a {
    color: blue;
    text-decoration: none;

}

a:hover {
    color: red;
}

.datos{
    display: flex;
    flex-direction: row;
}    